<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<title>Gaweshana</title>

	<!-- css -->
	<link href="css/base.min.css" rel="stylesheet">

	<!-- favicon -->
	<!-- ... -->

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="avoid-fout">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner"><div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="header">
		
		<a class="header-logo" href="index.html"></a>
		<ul class="nav nav-list pull-right">
			<li>
				<a data-toggle="menu" href="#profile">
					<span class="access-hide"></span>
					<span class="avatar"><img alt src="images/users/avatar3.png"></span>
				</a>
			</li>
		</ul>
	</header>
	<nav class="menu" id="menu">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-content">
					<a class="menu-logo" href="index.html"></a>
					<ul class="nav">
						<li>
						<ul class="menu-collapse collapse" id="form-elements">
								
							</ul>
						</li>
						</ul>
					<hr>
					<ul class="nav">
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<nav class="menu menu-right" id="profile">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-top">
					<div class="menu-top-img">
						<img alt="" src="">
					</div>
					<div class="menu-top-info">
						<a class="menu-top-user" href="javascript:void(0)"><span class=""><img alt="" src="images/users/avatar3.png"></span>Kasun</a>
					</div>
					<div class="menu-top-info-sub">
						
					</div>
				</div>
				<div class="menu-content">
					<ul class="nav">
						<li>
							<a href="view-users.html"><span class=""></span>View Administrators</a>
						</li>
					</ul>
				</div>
				<div class="menu-content">
					<ul class="nav">
						<li>
							<a href="view-artifacts.html"><span class=""></span>View Artifacts</a>
						</li>
					</ul>
				</div>
                <div class="menu-content">
					<ul class="nav">
						<li>
							<a href="page-login.html"><span class=""></span>Settings</a>
						</li>
					</ul>
				</div>
                <div class="menu-content">
					<ul class="nav">
						<li>
							<a href="page-login.html"><span class=""></span>Logout</a>
						</li>
					</ul>
				</div>



				
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="content-heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="heading">Gaweshana</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
					<section class="content-inner">
						<p></p>
						<h2 class="content-sub-heading">Administrators</h2>
						<div class="tile-wrap tile-wrap-animation">
							<a class="tile" href="add_user.html">
								<div class="tile-inner">
									<span>Add Administrators</span>
								</div>
							</a>
							<a class="tile" href="ui-collapse.html">
								<div class="tile-inner">
									<span>Edit/Update Administrator details</span>
								</div>
							</a>
							<a class="tile" href="ui-dropdown.html">
								<div class="tile-inner">
									<span>Remove Administrators</span>
								</div>
							</a>
							
						<h2 class="content-sub-heading">Artifacts</h2>
						<div class="tile-wrap tile-wrap-animation">
							<a class="tile" href="add_artifact.html">
								<div class="tile-inner">
									<span>Add Artifacts</span>
								</div>
							</a>
							<a class="tile" href="ui-form.html">
								<div class="tile-inner">
									<span>Edit/Update Artifact Details</span>
								</div>
							</a>
							<a class="tile" href="ui-form-adv.html">
								<div class="tile-inner">
									<span>Remove Artifacts</span>
								</div>
							</a>
							</div>
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>Gaweshana 2015</p>
		</div>
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/base.min.js"></script>
</body>
</html>

